*.pyc
*.swp
local_settings.py
*.db
.DS_Store
*.vim
/.settings
/.externalToolBuilders
/.project
/.pydevproject
/activity_stream
/threadedcomments
/.metadata
.Python
.gitignore_global
bin/
!lib/goodreads.py
.buildpath
globalstatic/
media/
.idea
